.container img {
    display: inline;
    width: 100%;
    margin: auto;
    padding: 0%;
 }

 .container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
 }
 .container .item {
     padding: 4%;
     text-align: center;
     margin: auto;
 }
