.post-title {
    padding-bottom: 5%;
    text-align: center;
}

.post-byline {
    padding-bottom: 2%;
    font-size: 1.5em;
    text-align: right;
}

.post-content iframe {
    display: block;
    margin: 0 auto;
    padding: 2%;
}
