.post-item {
    width: 90vmin;
    margin: auto;
    padding: 1%;
    outline-style: solid;
    outline-color: #551133;
    margin-bottom: 5vmin;
}

.post-item h2 {
    text-align: center;
}

.post-item img {
    width: 70%;
}


