.post-item {
    width: 90vmin;
    margin: auto;
    outline-style: solid;
    outline-width: 0.1em;
    outline-color: #441133;
    margin-bottom: 70px;
    padding: 2%;
    padding-top: 0.1%;
}

.post-item h2 {
    text-align: center;
}

.post-item img {
    width: 70%;
}

.post-item p {
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
}

.read-more {
    text-align: end;
    margin: auto;
}
